* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  --title: #151948;
  --text: #5e629c;
  --background-services: #f9f9f9;
  --background-footer: #180e29;
  --background-linear: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #3ecf8e;
  --green-light: #e3fff2;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

button {
  cursor: pointer;
}

section.landing-page {
  width: 100%;
  height: 100vh;
  background: var(--white);
  position: relative;
}

section.landing-page div.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--background-linear);
  -webkit-transform: skewY(-12deg);
          transform: skewY(-12deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

section.landing-page header {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
}

section.landing-page header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style-type: none;
}

section.landing-page header nav ul li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 2px;
}

section.landing-page header nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

section.landing-page header nav ul li a:hover::after {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

section.landing-page div.main-landing {
  width: 85%;
  height: calc(100vh - 100px);
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.landing-page div.main-landing img {
  width: 530px;
}

section.landing-page div.main-landing div.box-content {
  color: #fff;
}

section.landing-page div.main-landing div.box-content h1 {
  font-size: 35px;
  padding-bottom: 20px;
}

section.landing-page div.main-landing div.box-content div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

section.landing-page div.main-landing div.box-content div.buttons button {
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

section.landing-page div.main-landing div.box-content div.buttons button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

section.landing-page div.main-landing div.box-content div.buttons button.init {
  background: var(--green);
  color: #fff;
}

section.landing-page div.main-landing div.box-content div.buttons button.init:hover {
  background: none;
  border: 1px solid #fff;
}

section.landing-page div.main-landing div.box-content div.buttons button.contact {
  color: var(--green);
  background: var(--white);
}

section.landing-page div.main-landing div.box-content div.buttons button.contact:hover {
  opacity: .8;
  border: 1px solid #fff;
}

section.about {
  width: 100%;
  padding-bottom: 100px;
}

section.about div.container-about {
  width: 85%;
  height: 100%;
  background: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

section.about div.container-about div.box {
  width: 350px;
  height: 440px;
  padding: 20px;
  border: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-transition: .7s;
  transition: .7s;
}

section.about div.container-about div.box div.img-box {
  width: 100px;
  height: 100px;
  background: #e3fff2;
  border-radius: 50px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.about div.container-about div.box div.img-box img {
  width: 35px;
}

section.about div.container-about div.box h1 {
  color: var(--title);
}

section.about div.container-about div.box p {
  text-align: center;
  color: var(--text);
}

section.about div.container-about div.box:hover {
  border-color: var(--green);
  -webkit-box-shadow: 0 0 20px lightgray;
          box-shadow: 0 0 20px lightgray;
}

section.about-two {
  width: 100%;
  padding-bottom: 100px;
}

section.about-two div.container-about-two {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

section.about-two div.container-about-two img {
  width: 550px;
}

section.about-two div.container-about-two div.about-content h1 {
  font-size: 35px;
  color: var(--title);
  padding-bottom: 20px;
}

section.about-two div.container-about-two div.about-content p {
  color: var(--text);
  padding-bottom: 30px;
}

section.about-two div.container-about-two div.about-content button {
  width: 160px;
  height: 50px;
  background: var(--green);
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

section.about-two div.container-about-two div.about-content button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

section.services {
  width: 100%;
  background: var(--background-services);
  padding-bottom: 100px;
}

section.services div.title {
  text-align: center;
  padding-top: 130px;
}

section.services div.title h1 {
  font-size: 35px;
  color: var(--title);
}

section.services div.title p {
  font-size: 17px;
  color: var(--text);
  padding-bottom: 60px;
}

section.services div.info-container {
  width: 85%;
  height: 900px;
  margin: 0 auto;
  background: lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 1px;
}

section.services div.info-container div.box {
  background: #fff;
  padding: 20px;
  -webkit-transition: .8s;
  transition: .8s;
}

section.services div.info-container div.box:hover {
  -webkit-box-shadow: 0 0 20px lightgray;
          box-shadow: 0 0 20px lightgray;
  z-index: 999;
}

section.services div.info-container div.box:hover div.img {
  border-color: var(--green);
}

section.services div.info-container div.box div.img {
  width: 100px;
  height: 100px;
  background: var(--green-light);
  border-radius: 100%;
  border: 1px solid var(--green-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

section.services div.info-container div.box div.img img {
  width: 40px;
}

section.services div.info-container div.box div.content h1 {
  color: var(--title);
  padding: 10px 0 5px 0;
}

section.services div.info-container div.box div.content p {
  color: var(--text);
}

section.works-recents {
  width: 100%;
}

section.works-recents div.content-title {
  width: 100%;
  height: 350px;
  background: var(--background-linear);
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

section.works-recents div.content-title h1 {
  font-size: 35px;
  padding-bottom: 10px;
}

section.works-recents div.content-title p {
  max-width: 500px;
  margin: 0 auto;
}

section.works-recents div.carrosel-works {
  width: 85%;
  height: 220px;
  margin: 0 auto;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  overflow: hidden;
}

section.works-recents div.carrosel-works div.work {
  width: calc(100% / 5);
  height: 100%;
  background: var(--text);
}

section.pricing-plan {
  width: 100%;
  height: 400px;
}

section.pricing-plan div.title-plan {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--text);
}

section.pricing-plan div.title-plan h1 {
  color: var(--title);
  font-size: 35px;
}

section.pricing-plan div.container-pricing {
  max-width: 1110px;
  background: var(--orange);
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

section.pricing-plan div.container-pricing div.box {
  width: calc(100% / 3);
  height: 490px;
  background: #fff;
  border: 1px solid gray;
}
/*# sourceMappingURL=style.css.map */